#post{
    width: 100%;
    height: 50px;
    background-color: coral;
    margin-bottom: 3px;
}

#post>span{
    text-align: center;
}

#post>span:first-child{
    float: left;
    width: 5%;
    height: 100%;
    background-color: darkcyan;
}

#post>span:nth-child(2){
    float: left;
    width: 50%;
    height: 100%;
    background-color: darkgoldenrod;

}